:root {
  --primary-color: #20293A;
  --link-color: #7C19EE;
  --bg-color: #f5f5f5;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Sora', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color);
  height:100vh;
}

.card {
  width: 336px;
  border-radius: 0; 
  background: #fff;
  overflow: hidden;
  margin: 0; 
  box-shadow: none; 
  border: none; 
  border-radius: 8px;
}

.card-image img {
  width: 100%;
  height: 152px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  text-align: center;
}

h1 {
  font-size: 18px;
  font-size: 1.125rem;
  color: var(--primary-color);
  text-align: left;
  margin-bottom: 6px;
}

h2 {
  font-size: 12px;
  font-size: 0.75rem;
  color: var(--link-color);
  text-align: left;
  margin: 16px;
}

.sora-body {
  font-size: 14px;
  font-size: 0.875rem;
  color: #394150;
  text-align: left;
  margin-bottom: 20px;
}

.sora-tag {
  font-size: 10px;
  font-size: 0.625rem;
  color: #394150;
  text-align: left;
  margin-bottom: 20px;
}
